/__pycache__/*
*.pyc
data/FETAL_PLANES_ZENODO.zip
data/original_data.7z
data/raw/*
data/processed/*
data/cleaned/0/*
data/cleaned/1/*
data/cleaned/2/*
data/cleaned/3/*
data/cleaned/ideal/*
data/cleaned/full/*
classifier/data/fetal/*
classifier/data/ideal/*
classifier/data/4/*
classifier/data/3/*
classifier/data/full/*
classifier/models/*
classifier/results/
classifier/*.zip
features/
save/
